body{
    font-family: "Inter", sans-serif;
    background-color: #1A0B2E;
}
/* header{
    border-bottom: 1px solid rgba(65, 37, 103, 1);
} */
header nav span{
    background: linear-gradient(to right , #F7E93F , rgba(251, 9, 180, 1) , rgba(145, 0, 248, 1));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.btn{
  background: linear-gradient(to right , #F7E93F , rgba(251, 9, 180, 1) , rgba(145, 0, 248, 1));
  border-radius: 10000px;
}

header nav ul li{
    color: #FFFFFF;
    font-weight: medium;
    font-size: 16px;
}
.hamburger-menu{
    display: none;
}




/* Responsive design for mobile device */
@media screen and (max-width : 576px){
    nav ul li , nav button {
        display: none;
    }
    .hamburger-menu{
        display: block;
        margin-right: 20px;
    }
    nav h1{
        margin-left: 20px;
    }
}
/* Responsive design for medium device */
@media screen and (min-width : 576px) and (max-width : 992px){
    nav button {
        display: block;
        margin-right: 20px;
    }
    .hamburger-menu ,  nav ul li{
        display: none;
       
    }
    nav h1{
        margin-left: 20px;
    }
}
