body{
    font-family: "Inter", sans-serif;
    margin: 0px auto;
}
/* header section */
header nav span{
    background: linear-gradient(to right , #F7E93F , rgba(251, 9, 180, 1) , rgba(145, 0, 248, 1));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.btn{
  background: linear-gradient(to right , #F7E93F , rgba(251, 9, 180, 1) , rgba(145, 0, 248, 1));
  border-radius: 10000px;
}

header nav ul li{
    color: #FFFFFF;
    font-weight: medium;
    font-size: 16px;
}
.hamburger-menu{
    display: none;
}
/* banner related style */
.banner-section{
    background-image: url(./assets/hero-bg.png);
    background-position: center;
    /* background-size: cover; */
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 40px;
    position: relative;
}
.circle-middle-img{
    position: absolute;
    top: 38%;
    left: 50%;
    transform: translate(-50%,-50%); 
}
.microphone-img{
    position: absolute;
    top: 38%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.badge-new{
    color: #1A0B2E;
    border-radius: 1000px;
    background-color: #00FF88;
    box-shadow: 0px 3px 27px 0px rgba(0, 255, 136, 0.5);
    position: absolute;
    top: 12%;
    transform: translate(90%, 55%);

}
.banner-text{
    margin-top: 450px;
}
.banner-heading{
    color: #FFFFFF;
}
.banner-description{
    color: #FFFFFF;
}
.btn-2{
    color: #00FF88;
    border-radius: 10000px;
    border: 1px solid #00FF88 ;
}
/* about section */




/* Responsive design for mobile device */
@media screen and (max-width : 576px){
    nav ul li , nav button {
        display: none;
    }
    nav{
        padding: 16px 20px;
    }
    .hamburger-menu{
        display: block;
        margin-right: 20px;
    }
    nav h1{
        margin-left: 20px;
    }
       .about-rating{
        grid-template-columns: repeat(1,1fr);
    }
    .about-section{
        padding: 80px 100px 120px 100px;
    }
}


/* Responsive design for medium device */
@media screen and (min-width : 576px) and (max-width : 992px){
    nav button {
        display: block;
        margin-right: 20px;
    }
    nav{
        padding: 16px 30px;
    }
    .hamburger-menu ,  nav ul li{
        display: none;
       
    }
    nav h1{
        margin-left: 20px;
    }
     .about-rating{
        grid-template-columns: repeat(2,1fr);
    }
    .published{
        display: inline;
    }
}
